#wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}
.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
.container {
  width: 85vw;
  height: 85vw;
  position: relative;
  margin: 25vh auto 40px;
}
video {
  margin-top: 18%;
}
.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: wheat;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
.cube .face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 196px;
  font-size: 120px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
  box-shadow:inset 0 0 30px 5px rgba(0,0,0,0.4);
}
.cube .face {
  -webkit-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
}
.cube .front {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.idle-front, .idle-back {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.idle-front {
  -webkit-animation-name: idle-front;
          animation-name: idle-front;
  -webkit-transform: scale(1,1);
      -ms-transform: scale(1,1);
          transform: scale(1,1);
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.idle-back {
  -webkit-animation-name: idle-back;
          animation-name: idle-back;
  -webkit-transform: scale(0,1);
      -ms-transform: scale(0,1);
          transform: scale(0,1);
  -webkit-transform-origin: 0% 50%;
      -ms-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}


@-webkit-keyframes idle-front {
  0% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }
  10% {
    -webkit-transform: scale(0.9,1);
            transform: scale(0.9,1);
  }
  20% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }
  30% {
    -webkit-transform: scale(0.9,1);
            transform: scale(0.9,1);
  }
  40% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }
}


@keyframes idle-front {
  0% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }
  10% {
    -webkit-transform: scale(0.9,1);
            transform: scale(0.9,1);
  }
  20% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }
  30% {
    -webkit-transform: scale(0.9,1);
            transform: scale(0.9,1);
  }
  40% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }
}

@-webkit-keyframes idle-back {
  0% {
    -webkit-transform: scale(0,1);
            transform: scale(0,1);
  }
  10% {
    -webkit-transform: scale(0.1,1);
            transform: scale(0.1,1);
  }
  20% {
    -webkit-transform: scale(0,1);
            transform: scale(0,1);
  }
  30% {
    -webkit-transform: scale(0.1,1);
            transform: scale(0.1,1);
  }
  40% {
    -webkit-transform: scale(0,1);
            transform: scale(0,1);
  }
  100% {
    -webkit-transform: scale(0,1);
            transform: scale(0,1);
  }
}

@keyframes idle-back {
  0% {
    -webkit-transform: scale(0,1);
            transform: scale(0,1);
  }
  10% {
    -webkit-transform: scale(0.1,1);
            transform: scale(0.1,1);
  }
  20% {
    -webkit-transform: scale(0,1);
            transform: scale(0,1);
  }
  30% {
    -webkit-transform: scale(0.1,1);
            transform: scale(0.1,1);
  }
  40% {
    -webkit-transform: scale(0,1);
            transform: scale(0,1);
  }
  100% {
    -webkit-transform: scale(0,1);
            transform: scale(0,1);
  }
}
