.container {
  width: 70vw;
  height: 70vw;
  position: relative;
  margin: 15vw auto 40px;
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
       -o-perspective: 1000px;
          perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
}

#cube figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  line-height: 196px;
  font-size: 120px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#cube.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

#cube .front  { background: hsla(   0, 100%, 50%, 0.7 ); }
#cube .back   { background: hsla(  60, 100%, 50%, 0.7 ); }
#cube .right  { background: hsla( 120, 100%, 50%, 0.7 ); }
#cube .left   { background: hsla( 180, 100%, 50%, 0.7 ); }
#cube .top    { background: hsla( 240, 100%, 50%, 0.7 ); }
#cube .bottom { background: hsla( 300, 100%, 50%, 0.7 ); }

#cube .front  {
  -webkit-transform: translateZ( 35vw );
     -moz-transform: translateZ( 35vw );
       -o-transform: translateZ( 35vw );
          transform: translateZ( 35vw );
}
#cube .back   {
  -webkit-transform: rotateX( -180deg ) translateZ( 35vw );
     -moz-transform: rotateX( -180deg ) translateZ( 35vw );
       -o-transform: rotateX( -180deg ) translateZ( 35vw );
          transform: rotateX( -180deg ) translateZ( 35vw );
}
#cube .right {
  -webkit-transform: rotateY(  90deg ) translateZ( 35vw );
     -moz-transform: rotateY(  90deg ) translateZ( 35vw );
       -o-transform: rotateY(  90deg ) translateZ( 35vw );
          transform: rotateY(  90deg ) translateZ( 35vw );
}
#cube .left {
  -webkit-transform: rotateY( -90deg ) translateZ( 35vw );
     -moz-transform: rotateY( -90deg ) translateZ( 35vw );
       -o-transform: rotateY( -90deg ) translateZ( 35vw );
          transform: rotateY( -90deg ) translateZ( 35vw );
}
#cube .top {
  -webkit-transform: rotateX( 90deg ) translateZ( 35vw );
     -moz-transform: rotateX( 90deg ) translateZ( 35vw );
       -o-transform: rotateX( 90deg ) translateZ( 35vw );
          transform: rotateX( 90deg ) translateZ( 35vw );
}
#cube .bottom {
  -webkit-transform: rotateX( -90deg ) translateZ( 35vw );
     -moz-transform: rotateX( -90deg ) translateZ( 35vw );
       -o-transform: rotateX( -90deg ) translateZ( 35vw );
          transform: rotateX( -90deg ) translateZ( 35vw );
}
